<!DOCTYPE html>
<html>
<head>
<title>HomePage</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body style="background-color:#DEEAF3;align:center">
<div class="container-fluid" style="color:white;">
<div class="container-fluid" id="loginContainer" style="background-color:#8AC6F4;">
  <center><h2><%= gettext "Welcome to %{name}", name: "Twitter Simulator!" %></h2>
  <p class="lead"></p>
  <img class="img-responsive" src="https://pbs.twimg.com/profile_images/1111729635610382336/_65QFl7B.png" height="100" width="100">
  <br><br>
  <center>  <span> <p> Allows user registration, login and posting tweets and retweets and following other users. <br>
  </p> </span>
  <br>
  <form class="form-group">
    <label for="text">Username</label>
    <input type="text" class="form-control" style="width: 25%;" placeholder="Enter username" id="username" required="true" />
    <br>
    <label for="pwd">Password</label>
    <input type="password" class="form-control" style="width: 25%;" placeholder="Enter password" id="password" required="true" />
  </form>
  <br/> <br/>
  <button type="submit" class="btn btn-primary" id="login">Login</button>
  <button type="submit" class="btn btn-primary" id="signup">Sign Up</button>
  <br/> <br/>
</form>
</div>

<!-- DASHBOARD -->
<div id="dashboardContainer" class="row container-fluid text-black" style="background-color:#8AC6F4;display:none;">
<center><h2><%= gettext "Welcome to %{name}", name: "Twitter Simulator!" %></h2>
 <button type="submit" class="btn btn-primary" id="logout">Logout</button>
  <br/>
  <div class="col-sm-4">
    <h3> Welcome <span id="welcome_name"></span></h3>
    <br/>
    <h4> Follow Another User </h4>
    <input class="form-control" type="text" id="followerBox" placeholder="Enter the username" required /><br/>
     <button type="submit" class="btn btn-primary" id="followBtn">Follow User</button><br/><br/>

     <h4> Search tweets by Hashtags </h4>
    <input class="form-control" type="text" id="hashtagBox" placeholder="Enter the hashtag" required /><br/>
     <button type="submit" class="btn btn-primary" id="hashtagBtn">Search Tweets</button><br/><br/>
    <div class="jumbotron" style="overflow:auto">
      <table class = "table-borderless" id="hashtagTable">
      </table>
    </div>

     <h4> Search tweets by Mentions </h4>
    <input class="form-control" type="text" id="mentionBox" placeholder="Enter the mention" required /><br/>
     <button type="submit" class="btn btn-primary" id="mentionBtn">Search Tweets</button><br/>
    <div class="jumbotron" style="overflow:auto">
      <table class = "table-borderless" id="mentionTable" style="">
      </table>
    </div>
  </div>
  <div id="feedContainer" class="col-sm-8">
    <br/>
    <textarea class="form-control" id="tweetBox" rows="4" cols="50" placeholder="What's on your mind"></textarea><br/>
    <button type="submit" class="btn btn-primary" id="tweetBtn">Post Tweet</button>
    <br/><br/>
    <h4> Feed </h4> <br>
    <div class="jumbotron" style="overflow: scroll;height: 500px;padding: 30px;">
      <ul id = "ul" style="color: black; list-style-type: none; text-align: left;">
        
      </ul>
    </div>
  </div>
</div>
</div>
</body>
</html>
